@charset "UTF-8";
/* MIXINS */
/* END MIXINS */
html,
body {
  height: 100%;
}

body {
  font-size: 16px;
}
@media (min-width: 1900px) {
  body {
    font-size: 18px;
  }
}

p {
  text-align: justify;
}

h2 {
  margin-bottom: 2rem;
}

button,
select, input {
  color: black;
}

/*a {
  border:solid;
}*/
a:link {
  color: #992600;
}

/* visited link */
a:hover {
  color: #9999ff;
}

/* selected link */
a:active {
  color: blue;
}

/* roboto-slab-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-slab-v25-latin/roboto-slab-v25-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-slab-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-slab-v25-latin/roboto-slab-v25-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
.description {
  padding-bottom: 15%;
}

.main_title {
  margin-top: 2em;
  margin-bottom: 2em;
}
@media (min-width: 1900px) {
  .main_title {
    margin-top: 3em;
    margin-bottom: 4em;
  }
}

ul.concerto-verions {
  list-style-type: upper-roman;
}

.intro-text {
  padding-right: 2em;
}
@media (min-width: 1900px) {
  .intro-text {
    padding-right: 4em;
  }
}

.references {
  font-size: 12px;
  padding-top: 2em;
}

.music {
  display: none;
}

.score-wrapper {
  display: none;
  overflow: auto;
  height: 80vh;
  margin-bottom: auto;
}

#svg_output {
  /*padding-top: 10rem;*/
  /*padding: 1rem;*/
  background-color: #f6f6f6;
  /*margin: 1em;*/
  /* height: 200rem;*/
  border: brown;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #222222;
  color: white;
  padding: 15px;
  bottom: 0;
  width: 100%;
}
footer p {
  margin-top: 0;
}

#footer a:link {
  color: white;
}

.GitHub {
  float: right;
}

.control-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  align-items: center;
  background-color: #1c1c2e;
  color: darkgrey;
  padding-left: 30px;
}

.control-bar__pages-nav, .control-bar__score-nav {
  align-items: center;
  min-height: 26px;
  border: 1px solid;
  border-radius: 7px;
}

.control-bar__score-nav {
  padding: 1rem;
}

.control-bar_search-text {
  padding: 0.5em;
}

.btn-group {
  margin-left: 1em;
  margin-top: 1em;
  margin: 1rem;
}

.page-nav-elem {
  padding: 5px 10px;
  cursor: pointer;
}

.gi-2x {
  font-size: 1.5em;
}

hr {
  margin-top: 2px;
  margin-bottom: 2px;
}

.fillSpace {
  flex: auto;
}

.fillSpaceRight {
  width: 5rem;
}

#measureNumber {
  width: 3em;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100vw;
}
@media (min-width: 1010px) {
  .wrapper {
    width: 80vw;
  }
}
@media (min-width: 1600px) {
  .wrapper {
    width: 70vw;
  }
}
@media (min-width: 1900px) {
  .wrapper {
    width: 55vw;
  }
}
.wrapper--description {
  min-height: 90vh;
}

.navbar {
  background-color: #1c1c2e;
  margin-bottom: 0;
  padding: 1rem;
}

#allegro {
  padding-left: 3em;
}

.manual {
  visibility: hidden;
}
.manual--is-visible {
  visibility: visible;
}
.manual button {
  padding: 4px 9px;
}
.manual span.glyphicon {
  font-size: 25px;
}

.thumbnail {
  margin: 0;
}

.navbar {
  border-radius: 0;
}

.modal, .modal-manual, .modal-loading {
  display: none;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  height: 100 vh;
  width: 100%;
}

body.loading .modal-loading {
  display: block;
}

.modal-loading {
  background: rgba(255, 255, 255, 0.8) url("../images/giphy.gif") 50% 50% no-repeat;
}

.modal-manual {
  overflow: scroll;
  background-color: rgba(237, 237, 237, 0.99);
  display: block;
  font-size: 18px;
  /* hide */
  opacity: 0;
  visibility: hidden;
  transform: scale(1.2);
  transition: all 0.3s ease-out;
}
.modal-manual--is-visible {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
.modal-manual__inner {
  font-family: "Roboto Slab", serif;
  position: absolute;
  width: 100%;
  top: 5%;
  bottom: 5%;
}
.modal-manual__inner img {
  height: 100px;
  margin-top: 5px;
}
.modal-manual__close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 2.5rem;
  transform: scaleX(1.2);
  transform-origin: 100% 0;
  color: #222222;
  cursor: pointer;
}
.modal-manual__close:hover {
  color: orange;
}
.modal-manual__rows > .row {
  padding: 2rem;
}
.modal-manual__rows {
  border: 1px solid;
}
.modal-manual p {
  text-align: center;
}

.row--pct {
  padding: 1.5rem 0 1rem 0;
}

#user_manual {
  padding: 5rem 0 2rem 0;
  font-weight: 500;
}

.manual .glyphicon {
  top: 3px;
}

#choice_overlay {
  position: fixed;
  display: none;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  z-index: 10001;
  color: #fff;
}

#choice_overlay a {
  color: #fff;
  text-decoration: none;
}

#choice_overlay a:before {
  content: "▶  ";
}

#choice_overlay p {
  padding: 0px;
  margin: 2px;
  margin-bottom: 4px;
}

#choice_overlay p:not(:first-child) {
  margin-top: 8px;
  border-top: 1px solid #aaa;
  padding-top: 10px;
}
/*# sourceMappingURL=main.css.map */
