@charset "UTF-8";
/* MIXINS */
/* END MIXINS */
html,
body {
  height: 100%;
}

body {
  background-color: #374259;
  font-size: 16px;
}

p {
  text-align: justify;
  margin-top: 2rem;
}

.main_title {
  margin-top: 2em;
  margin-bottom: 2em;
}

ul.concerto-verions {
  list-style-type: upper-roman;
}

.music {
  display: none;
}

.score-wrapper {
  display: none;
  overflow: auto;
  height: 80vh;
  margin-bottom: auto;
}

#svg_output {
  /*padding-top: 10rem;*/
  /*padding: 1rem;*/
  background-color: #f6f6f6;
  /*margin: 1em;*/
  /* height: 200rem;*/
  border: brown;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #222222;
  color: white;
  padding: 15px;
  bottom: 0;
  width: 100%;
}
footer p {
  margin-top: 0;
}

#footer a:link {
  color: white;
}

.GitHub {
  float: right;
}

.control-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  align-items: center;
  background-color: #1c1c2e;
  color: darkgrey;
  padding-left: 30px;
}

.control-bar__pages-nav, .control-bar__score-nav {
  align-items: center;
  min-height: 26px;
  border: 1px solid;
  border-radius: 7px;
}

.control-bar__score-nav {
  padding: 1rem;
}

.control-bar_search-text {
  padding: 0.5em;
}

.btn-group {
  margin-left: 1em;
  margin-top: 1em;
  margin: 1rem;
}

.page-nav-elem {
  padding: 5px 10px;
  cursor: pointer;
}

.gi-2x {
  font-size: 1.5em;
}

hr {
  margin-top: 2px;
  margin-bottom: 2px;
}

.fillSpace {
  flex: auto;
}

.fillSpaceRight {
  width: 5rem;
}

#measureNumber {
  width: 3em;
}

.wrapper {
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  background-color: #ededed;
}
.wrapper::before {
  display: table;
  content: " ";
}

.navbar {
  background-color: #1c1c2e;
  margin-bottom: 0;
  padding: 1rem;
}

#allegro {
  padding-left: 3em;
}

button,
select, input {
  color: black;
}

header,
.general {
  text-align: center;
  padding-top: 3em;
  /*border-style: solid;*/
  /*width: 15rem;*/
  font-family: verdana;
  color: #660000;
}

.container .panel-body {
  /*margin-left: 32rem;*/
  padding-top: 5rem;
  padding-bottom: 5rem;
  /*width: 15rem;*/
  /*  color:#ffa64d;
   border-style: solid;*/
  text-align: center;
}

/*a {
  border:solid;
}*/
a:link {
  color: #992600;
}

/* visited link */
a:hover {
  color: #9999ff;
}

/* selected link */
a:active {
  color: blue;
}

#choice_overlay {
  position: fixed;
  display: none;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  z-index: 10001;
  color: #fff;
}

#choice_overlay a {
  color: #fff;
  text-decoration: none;
}

#choice_overlay a:before {
  content: "▶  ";
}

#choice_overlay p {
  padding: 0px;
  margin: 2px;
  margin-bottom: 4px;
}

#choice_overlay p:not(:first-child) {
  margin-top: 8px;
  border-top: 1px solid #aaa;
  padding-top: 10px;
}

.index_link {
  color: #660000;
  font-size: 1em;
  padding: 5px;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  -webkit-animation: spin 2s linear infinite;
  alignment: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
/* Start by setting display:none to make this hidden.
     Then we position it in relation to the viewport window
     with position:fixed. Width, height, top and left speak
     for themselves. Background we set to 80% white with
     our animation centered, and no-repeating */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8) url("../images/giphy.gif") 50% 50% no-repeat;
}

/* When the body has the loading class, we turn
     the scrollbar off with overflow:hidden */
body.loading .modal {
  overflow: hidden;
}

/* Anytime the body has the loading class, our
     modal element will be visible */
body.loading .modal {
  display: block;
}
/*# sourceMappingURL=main.css.map */
