// @import '../../../node_modules/bootstrap/scss/bootstrap';
@import 'base/variables';
@import 'base/mixins';
@import 'base/global';
@import 'base/fonts';
@import 'modules/description';
@import 'modules/music';
@import 'modules/footer';
@import 'modules/control-bar';
@import 'modules/wrapper';
@import 'modules/nav';
@import 'modules/bootstrap';
@import 'modules/modals';





button,
select, input {
	color: black;
}


header,
.general {
	text-align: center;
	padding-top: 3em;
	/*border-style: solid;*/
	/*width: 15rem;*/
	font-family: verdana;
	color: #660000;
}

.container .panel-body {
	/*margin-left: 32rem;*/
	padding-top: 5rem;
	padding-bottom: 5rem;
	/*width: 15rem;*/
	/*  color:#ffa64d;
  border-style: solid;*/
	text-align: center;
}

/*a {
  border:solid;
}*/

a:link {
	color: #992600;
}

/* visited link */
// a:visited {
// 	color: #0d1a00;
// }

a:hover {
	color: #9999ff;
}

/* selected link */
a:active {
	color: blue;
}




#choice_overlay {
	position: fixed;
	display: none;
	padding: 20px;
	background-color: rgba(0, 0, 0, .8);
	font-family: Arial, Helvetica, sans-serif;
	font-weight: lighter;
	z-index: 10001;
	color: #fff;
}

#choice_overlay a {
	color: #fff;
	text-decoration: none;
}

#choice_overlay a:before {
	content: "\25B6   ";
}

#choice_overlay p {
	padding: 0px;
	margin: 2px;
	margin-bottom: 4px;
}

#choice_overlay p:not(:first-child) {
	margin-top: 8px;
	border-top: 1px solid #aaa;
	padding-top: 10px;
}

.index_link {
	color: #660000;
	font-size: 1em;
	padding: 5px;
}