.control-bar {
    // display: flex; activated by JS
    position: absolute;
    bottom: 0;
    width: 100%;
    align-items: center;    
    background-color: #1c1c2e;
    color: darkgrey;
    padding-left: 30px;
    // @include wrapperMusic;
}


.control-bar__pages-nav {
    align-items: center;
    min-height: 26px;
    border: 1px solid;
    border-radius: 7px;
    // margin: 5em 0px 3px 0px;
    // margin-left: 2em;      
}

.control-bar__score-nav {
    @extend .control-bar__pages-nav;
    padding: 1rem;
}

.control-bar_search-text {
    padding: 0.5em;
}

.btn-group {
    margin-left: 1em;
    margin-top: 1em;
    margin: 1rem;
}

.page-nav-elem {
    // min-height: 2em;
    // min-width: 2em;

    // color: #91aa59;
    padding: 5px 10px;
    cursor: pointer;
}

.gi-2x {
    font-size: 1.5em;
}

hr {
    margin-top: 2px;
    margin-bottom: 2px;
}


.fillSpace {
    flex: auto;
}

.fillSpaceRight {
    width: 5rem;
}

#measureNumber {
    width: 3em;
}

// style="background-color:#f6f6f6; padding-top:1rem; "