.description {
	padding-bottom: 15%;
}

.main_title {
	margin-top: 2em;
	margin-bottom: 2em;

	@include media(atLargestPlus) {
		margin-top: 3em;
		margin-bottom: 4em;
	}
}

ul.concerto-verions {
	list-style-type: upper-roman;
}

.intro-text {
	padding-right: 2em;

	@include media(atLargestPlus) {
		padding-right: 4em;
	}
}

.references {
	font-size: 12px;
	padding-top: 2em;
}