.main_title {
	margin-top: 2em;
	margin-bottom: 2em;
}

ul.concerto-verions {
	list-style-type: upper-roman;
}

.intro-text {
	padding-right: 2em;
}

.references {
	font-size: 12px;
	padding-top: 2em;
}