/* Set black background color, white text and some padding */
footer {
    background-color: $background-header-footer;
    color: $font-header-footer;
    padding: 15px;
    bottom: 0;
    // position: absolute;
    width: 100%;

    p {
        margin-top: 0;
    }
}

#footer a:link {
    color: white;
}


.GitHub {
    float: right;
}