.wrapper {

  margin-left: auto;
  margin-right: auto;
  position: relative;


  width: 100vw;

  @include media(atLarge) {
    width: 80vw;
  }

  @include media(atLargest) {
    width: 70vw;
  }

  @include media(atLargestPlus) {
    width: 55vw;
  }

  // max-width: 1280px;
  // background-color: $backgroundWrapper;


  // &::before {
  //   display: table;
  //   content: " ";
  // }

  &--description {
    min-height: 90vh;
  }

}