.wrapper {

  margin-left: auto;
  margin-right: auto;
  position: relative;


  width: 100vw;

  @include media(atLarge) {
    width: 80vw;
  }

  @include media(atLargest) {
    width: 70vw;
  }

  @include media(atLargestPlus) {
    width: 50vw;
  }

  // max-width: 1280px;
  background-color: $backgroundWrapper;


  &::before {
    display: table;
    content: " ";
  }
}

.wrapper--description {
  min-height: 95vh;
}

.wrapper__modal--info {
  @extend .wrapper;
  background-color: rgba(255, 255, 255, 0.94);
}